[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
social-auth-app-django = "*"
social-auth-core = {extras = ["openidconnect"], version = "*"}
django-extensions = "*"
whitenoise = "*"
ipython = "*"
daphne = "*"
cryptography = "*"

[dev-packages]
black = "==20.8b1"

[requires]
python_version = "3.9"
